@model EventCase_Part2.Models.BookingSM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookingSM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event_.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueSM.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueSM.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
